@media screen and (min-width: 960px) {
  #navbarNav,
  .button {
    display: flex;
    justify-content: end;
  }
  .nav-item {
    padding-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .info-button .btn {
    margin: 0 10px 10px 0;
  }
  .carousel {
    padding-left: 55px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .profile-card {
    width: 400px;
  }
}
@media screen and (max-width: 960px) {
  .feature-img {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font: bold 50px/1 "sofia", sans-serif;
  text-shadow: 14px 14px 18px rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}

p {
  color: grey;
}
.nav-link {
  color: black;
}

.navbar-brand img {
  max-width: 120px;
  padding-left: 20px;
}

.navbar-nav .nav-link {
  position: relative;
  text-decoration: none;
}

.nav-link:hover {
  color: red;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navbar-nav .nav-link:hover::before {
  transform: scaleX(1);
}

.hero-area,
.stat {
  padding: 120px 0 80px 0;
  background-color: rgba(255, 192, 203, 0.3);
}

.container {
  margin: auto;
  padding: 0 15px;
}

.info-button {
  margin-top: 20px;
}

.text-secondary {
  margin: 0;
}

.section-padding {
  padding: 60px 0;
}

.section-title {
  font-weight: bold;
  font-size: 30px;
  font-family: "sofia", sans-serif;
  text-decoration: underline;
  text-decoration-color: red;
}

.service-item {
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  margin: 15px 0;
  box-shadow: 0 2px 18px rgba(198, 198, 198, 0.3);
  transition: all 0.3s;
  animation: fadeInRight 3s ease;
}
.service-content h3 {
  margin: 10px 0;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  font-family: cursive;
}

.icon {
  padding: 20px;
  border: 1px solid rgba(198, 198, 198, 0.3);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.3s;
}
i {
  text-align: center;
  color: #f54251;
}
.service-item:hover {
  box-shadow: 5px 5px 5px 5px rgba(136, 136, 136, 0.3);
  .icon {
    background-color: #f54251;
  }
  .icon i {
    color: white;
  }
}
.profile-card {
  text-align: center;
  padding: 20px 10px;
}

.stat-head,
.stat-content {
  padding: 10px 0 20px 0;
}
.footer-product a,
.footer-resources a {
  text-decoration: none;
  color: black;
  padding-top: 13px;
}
.footer-contact p {
  color: black;
}
.footer-info a:hover {
  color: red;
  text-decoration: underline;
}
a.back-to-top {
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
  z-index: #999999;
}
.back-to-top {
  padding: 7px 12px;
  border: 1px solid rgba(247, 9, 9, 0.3);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.3s;
  background-color: red;
}
.back-to-top i {
  color: white;
  font-size: 20px;
}
.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
