#formVal {
  border: 1px solid black;
  width: 450px;
  margin: 15px auto 0 auto;
  background-color: rgba(128, 128, 128, 0.3);
  padding: 15px 30px;
  border-radius: 5px;
}
h2 {
  text-align: center;
  font-size: 30px;
}
button {
  padding: 10px;
  border: 1px;
  border-radius: 5px;
  width: 100%;
  font-size: large;
}
.error {
  color: red;
  font-size: 10px;
}
